.faq {
  h2 {
    text-align: center;
    font-size: 32px;
    line-height: 48px;
    font-weight: bold;
    margin-bottom: 48px;
  }
  ul {
    margin-bottom: 100px;
    li {
      margin: 16px 0;
      padding: 16px 32px;
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 2px 10px #00000014;
      border-radius: 12px;
      cursor: pointer;
      .question {
        display: flex;
        justify-content: space-between;
        p {
          font-size: 18px;
          line-height: 28px;
        }
        .minus {
          display: none;
        }
      }
      .answer {
        display: none;
      }
    }
    .active {
      .question {
        color: $green;
        font-weight: bold;
        .plus {
          display: none;
        }
        .minus {
          display: block;
        }
      }
      .answer {
        display: block;
        line-height: 32px;
        margin-top: 24px;
        margin-bottom: 32px;
        color: #747474;
      }
    }
  }
}

@media (max-width: 768px) {
  .faq {
    h2 {
      font-size: 28px;
      line-height: 40px;
    }
    ul {
      // width: 92%;
      margin-bottom: 100px;
      li {
        margin: 16px auto;
        width: 92%;
        padding: 16px 32px;
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 0px 2px 10px #00000014;
        border-radius: 12px;
        cursor: pointer;
        .question {
          display: flex;
          justify-content: space-between;
          p {
            font-size: 18px;
            line-height: 28px;
          }
        }
        .answer {
          line-height: 32px;
          margin-top: 24px;
          margin-bottom: 32px;
          color: #747474;
        }
      }
      .active {
        .question {
          color: $green;
          font-weight: bold;
        }
      }
    }
  }
}
