html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button {
  font-size: 18px;
  line-height: 26px;
  padding: 12px 32px;
  outline: none;
  border: none;
  border-radius: 27px;
  cursor: pointer;
}

.button-green {
  background: #56c4c5;
  color: #fff;
}

.button-white {
  color: #56c4c5;
  background: #fff;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  color: #221e1f;
}

.to-top {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: url("../icon/top.svg");
  position: fixed;
  right: 60px;
  top: 50%;
  cursor: pointer;
  z-index: 10;
}

@media (max-width: 768px) {
  .to-top {
    width: 50px;
    height: 50px;
    right: 20px;
    top: 75%;
    background-position: center;
    background-size: contain;
  }
}

.ball-1 {
  position: absolute;
  left: -225px;
  top: 40%;
  z-index: -3;
}

@media (max-width: 768px) {
  .ball-1 {
    position: absolute;
    width: 125px;
    left: -85px;
    top: 760px;
  }
}

.pricing-ball-3 {
  width: 360px;
  position: absolute;
  top: 60%;
  left: -280px;
  z-index: -3;
}

@media (max-width: 768px) {
  .pricing-ball-3 {
    width: 204px;
    position: absolute;
    top: 100%;
    left: -110px;
  }
}

.banner-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 470px;
  border-radius: 0 0 0 300px;
  background: #f7f9fd;
  z-index: -2;
}

@media (max-width: 768px) {
  .banner-bg {
    top: 88px;
    min-height: 495px;
  }
}

.pricing-bg-small {
  display: none;
}

@media (max-width: 768px) {
  .pricing-bg-small {
    display: block;
    top: 88px;
    position: absolute;
  }
}

.wrap {
  max-width: 1085px;
  margin: 0 auto;
}

.wrap .bg {
  position: absolute;
  right: 0;
  top: 0;
}

@media (max-width: 768px) {
  .wrap .bg {
    display: none;
  }
}

.wrap header {
  height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrap header .logo {
  width: 218px;
  z-index: 2;
}

.wrap header .logo img {
  max-width: 100%;
}

.wrap header .checkPlan {
  padding: 8px 32px;
  line-height: 24px;
  background: #ff5d50;
  border-radius: 22px;
  color: #fff;
  border: none;
  outline: none;
  z-index: 2;
}

@media (max-width: 768px) {
  .wrap header {
    padding: 0 20px;
    border-bottom: #ffd153 2px solid;
  }
  .wrap header .logo {
    width: 130px;
  }
}

.wrap .bg-small {
  display: none;
}

.wrap .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #221e1f;
}

.wrap .banner .banner-text {
  z-index: 2;
}

.wrap .banner .banner-text h1 {
  color: #56c4c5;
  font-size: 18px;
  font-weight: bold;
}

.wrap .banner .banner-text h1.charge,
.wrap .banner .banner-text h2 {
  color: #221e1f;
  font-size: 48px;
  font-weight: bold;
  line-height: 70px;
  margin: 8px 0 16px 0;
}

.wrap .banner .banner-text p {
  font-size: 20px;
}

.wrap .banner div {
  z-index: 1;
  width: 532px;
}

.wrap .banner div img {
  max-width: 100%;
}

@media (max-width: 768px) {
  .wrap .bg-small {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: -1;
  }
  .wrap .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 32px;
  }
  .wrap .banner .banner-text {
    z-index: 2;
  }
  .wrap .banner .banner-text h1 {
    color: #56c4c5;
    font-size: 18px;
    font-weight: bold;
  }
  .wrap .banner .banner-text h1.charge,
  .wrap .banner .banner-text h2 {
    font-size: 32px;
    line-height: 46px;
  }
  .wrap .banner .banner-text p {
    font-size: 16px;
  }
  .wrap .banner div {
    position: relative;
    width: 90vw;
  }
  .wrap .banner div img {
    width: 100%;
  }
}

.wrap .pricing-banner {
  margin-top: 92px;
}

.wrap .pricing-banner .banner-text p {
  font-size: 16px;
}

.wrap .platforms {
  max-width: 969px;
  margin: 0 auto;
  margin-top: 217px;
}

.wrap .platforms h2 {
  text-align: center;
  color: #221e1f;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 48px;
}

.wrap .platforms ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrap .platforms ul li {
  text-align: center;
  width: 244px;
}

.wrap .platforms ul li img {
  max-width: 90px;
}

.wrap .platforms ul li .name {
  font-size: 24px;
  font-weight: bold;
  color: #221e1f;
  margin: 24px 0;
}

.wrap .platforms ul li .description {
  color: #747474;
  line-height: 24px;
}

@media (max-width: 768px) {
  .wrap .platforms {
    margin-top: 60px;
  }
  .wrap .platforms h2 {
    font-size: 28px;
    margin-bottom: 32px;
  }
  .wrap .platforms ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrap .platforms ul li {
    margin: 12px 0;
  }
  .wrap .platforms ul li img {
    max-width: 60px;
  }
  .wrap .platforms ul li .name {
    font-size: 18px;
    margin: 16px 0;
  }
}

.wrap .ball-2 {
  position: absolute;
  right: 15px;
  bottom: -45%;
  z-index: -3;
}

@media (max-width: 768px) {
  .wrap .ball-2 {
    width: 135px;
    position: absolute;
    right: 15px;
    bottom: -148%;
    z-index: -3;
  }
}

.wrap .roles {
  margin: 100px 0 100px 0;
  text-align: center;
  color: #221e1f;
}

.wrap .roles h2 {
  font-size: 32px;
  font-weight: bold;
  line-height: 46px;
}

.wrap .roles h3 {
  font-size: 20px;
  line-height: 29px;
  margin: 16px 0 48px 0;
}

.wrap .roles .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 8px;
}

.wrap .roles .cards .card {
  width: 260px;
  height: 388px;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  overflow: hidden;
  border-radius: 12px;
  margin: 0 8px;
  background: #fff;
}

.wrap .roles .cards .card img {
  max-width: 100%;
}

.wrap .roles .cards .card .role {
  color: #56c4c5;
  line-height: 24px;
  margin: 16px 0 16px 0;
}

.wrap .roles .cards .card .description {
  line-height: 24px;
}

@media (max-width: 768px) {
  .wrap .roles {
    margin: 60px 0;
  }
  .wrap .roles h2 {
    font-size: 28px;
    line-height: 40px;
  }
  .wrap .roles h3 {
    font-size: 18px;
    line-height: 26px;
    margin: 16px 0 32px 0;
  }
  .wrap .roles .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 8px;
  }
  .wrap .roles .cards .card {
    margin: 12px 0;
  }
  .wrap .roles .cards .card img {
    max-width: 100%;
  }
  .wrap .roles .cards .card .role {
    color: #56c4c5;
    line-height: 24px;
    margin: 16px 0 16px 0;
  }
  .wrap .roles .cards .card .description {
    line-height: 24px;
  }
}

.wrap .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap .services ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 507px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 137px;
}

.wrap .services ul li {
  width: 230px;
  height: 280px;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px;
  padding: 32px;
  margin: 14px 0;
}

.wrap .services ul li div {
  width: 86px;
  height: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
}

.wrap .services ul li h4 {
  margin: 24px 0 16px 0;
  font-size: 18px;
  font-weight: bold;
}

.wrap .services ul li p {
  line-height: 24px;
}

.wrap .services .service-text {
  text-align: center;
}

.wrap .services .service-text h2 {
  color: #221e1f;
  font-size: 32px;
  line-height: 46px;
  font-weight: bold;
}

.wrap .services .service-text p {
  font-size: 18px;
  line-height: 26px;
  margin: 16px 0 24px 0;
}

@media (max-width: 768px) {
  .wrap .services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrap .services ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    margin-top: 32px;
  }
  .wrap .services .service-text h2 {
    color: #221e1f;
    font-size: 38px;
    line-height: 40px;
  }
  .wrap .services .service-text p {
    font-size: 16px;
    line-height: 24px;
  }
}

.wrap .rating {
  position: relative;
  margin: 100px 0;
}

.wrap .rating .ball-3 {
  position: absolute;
  top: 20%;
  left: -8%;
}

.wrap .rating h2 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  line-height: 46px;
  margin-bottom: 104px;
}

.wrap .rating .swiper {
  height: 380px;
}

.wrap .rating .swiper .cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap .rating .swiper .cards .card {
  cursor: pointer;
  position: relative;
  color: #221e1f;
  width: 340px;
  height: 270px !important;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px;
  padding: 48px 32px 24px 32px;
  background: #fff;
}

.wrap .rating .swiper .cards .card .avatar {
  border-radius: 50%;
  width: 80px;
  position: absolute;
  top: -55px;
}

.wrap .rating .swiper .cards .card .review {
  line-height: 24px;
  padding-bottom: 24px;
  border-bottom: #ddd 1px solid;
}

.wrap .rating .swiper .cards .card div .company {
  font-weight: bold;
  margin: 24px 0 8px 0;
  line-height: 24px;
}

.wrap .rating .swiper .cards .card div .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 24px;
}

.wrap .rating .swiper .cards .card div .name span img {
  width: 16px;
  margin: 0 3px 0 3px;
}

.wrap .rating .swiper-pagination-bullet-active {
  width: 16px;
  background: #ffd153;
  border-radius: 50px;
}

@media (max-width: 768px) {
  .wrap .rating {
    margin: 60px 0;
  }
  .wrap .rating h2 {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 88px;
  }
  .wrap .rating .ball-3 {
    position: absolute;
    top: 20%;
    left: -20%;
  }
  .wrap .rating .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrap .rating .cards .hide {
    display: none;
  }
}

@media (max-width: 768px) {
  .wrap {
    max-width: 90%;
  }
}

.pricing-wrap {
  max-width: 909px;
  margin: 0 auto;
  margin-top: 280px;
}

.pricing-wrap .plans-container {
  text-align: center;
  margin-top: 100px;
}

.pricing-wrap .plans-container h2 {
  color: #221e1f;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 48px;
}

.pricing-wrap .plans-container .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pricing-wrap .plans-container .options button {
  border: 1px solid #56c4c5;
  max-width: 145px;
  min-width: 145px;
}

.pricing-wrap .plans-container .options .active {
  background: #56c4c5;
  color: #fff;
}

.pricing-wrap .plans-container .plans {
  margin: 48px 0 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pricing-wrap .plans-container .plans .plan {
  background: #ffffff 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px;
  width: 49%;
}

.pricing-wrap .plans-container .plans .plan h3 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 35px;
  padding: 10px 0;
  margin-bottom: 32px;
  position: relative;
}

.pricing-wrap .plans-container .plans .plan h3::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  background: #ddd;
  bottom: -10px;
  left: 0;
}

.pricing-wrap .plans-container .plans .plan p {
  line-height: 24px;
}

.pricing-wrap .plans-container .plans .plan .outcome {
  margin: 32px 0;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pricing-wrap .plans-container .plans .plan .outcome .block {
  background: #f5f5f5 0% 0% no-repeat padding-box;
  border-radius: 12px;
  width: 169px;
  height: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pricing-wrap .plans-container .plans .plan .outcome .block small {
  font-size: 12px;
  line-height: 27px;
}

.pricing-wrap .plans-container .plans .plan .outcome .block p {
  font-size: 32px;
  line-height: 35px;
}

.pricing-wrap .plans-container .plans .plan .outcome .block p sub {
  font-size: 12px;
  line-height: 17px;
  margin-bottom: 10px;
}

.pricing-wrap .plans-container .plans .plan .outcome .users-number {
  color: #56c4c5;
}

.pricing-wrap .plans-container .plans .plan .outcome .equal {
  font-size: 29px;
  line-height: 42px;
  margin: 0 21px;
}

.pricing-wrap .plans-container .plans .plan .plan-detail {
  padding-left: 22px;
}

.pricing-wrap .plans-container .plans .plan .plan-detail li {
  text-align: left;
  line-height: 24px;
  margin: 16px 0;
}

.pricing-wrap .plans-container .plans .plan button {
  margin: 32px 0;
}

@media (max-width: 768px) {
  .pricing-wrap .plans-container h2 {
    font-size: 28px;
  }
  .pricing-wrap .plans-container .options {
    overflow: auto;
  }
  .pricing-wrap .plans-container .options button {
    border: 1px solid #56c4c5;
    margin: 0 8px;
  }
  .pricing-wrap .plans-container .options .active {
    background: #56c4c5;
    color: #fff;
  }
  .pricing-wrap .plans-container .plans {
    margin: 48px 0 100px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pricing-wrap .plans-container .plans .plan {
    width: 92%;
    margin: 32px 0;
  }
  .pricing-wrap .plans-container .plans .plan h3 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 35px;
    padding: 10px 0;
    margin-bottom: 32px;
    position: relative;
  }
  .pricing-wrap .plans-container .plans .plan h3::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    background: #ddd;
    bottom: -10px;
    left: 0;
  }
  .pricing-wrap .plans-container .plans .plan p {
    line-height: 24px;
  }
  .pricing-wrap .plans-container .plans .plan .outcome {
    margin: 32px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pricing-wrap .plans-container .plans .plan .outcome .block {
    width: 169px;
    height: 108px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pricing-wrap .plans-container .plans .plan .outcome .block p {
    font-size: 28px;
    line-height: 32px;
  }
  .pricing-wrap .plans-container .plans .plan .outcome .equal {
    font-size: 24px;
    line-height: 35px;
    margin: 0 6px;
  }
  .pricing-wrap .plans-container .plans .plan .plan-detail li {
    font-size: 14px;
    line-height: 20px;
  }
}

.pricing-wrap .faq h2 {
  text-align: center;
  font-size: 32px;
  line-height: 48px;
  font-weight: bold;
  margin-bottom: 48px;
}

.pricing-wrap .faq ul {
  margin-bottom: 100px;
}

.pricing-wrap .faq ul li {
  margin: 16px 0;
  padding: 16px 32px;
  background: #ffffff 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px;
  cursor: pointer;
}

.pricing-wrap .faq ul li .question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pricing-wrap .faq ul li .question p {
  font-size: 18px;
  line-height: 28px;
}

.pricing-wrap .faq ul li .question .minus {
  display: none;
}

.pricing-wrap .faq ul li .answer {
  display: none;
}

.pricing-wrap .faq ul .active .question {
  color: #56c4c5;
  font-weight: bold;
}

.pricing-wrap .faq ul .active .question .plus {
  display: none;
}

.pricing-wrap .faq ul .active .question .minus {
  display: block;
}

.pricing-wrap .faq ul .active .answer {
  display: block;
  line-height: 32px;
  margin-top: 24px;
  margin-bottom: 32px;
  color: #747474;
}

@media (max-width: 768px) {
  .pricing-wrap .faq h2 {
    font-size: 28px;
    line-height: 40px;
  }
  .pricing-wrap .faq ul {
    margin-bottom: 100px;
  }
  .pricing-wrap .faq ul li {
    margin: 16px auto;
    width: 92%;
    padding: 16px 32px;
    background: #ffffff 0% 0% no-repeat padding-box;
    -webkit-box-shadow: 0px 2px 10px #00000014;
            box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    cursor: pointer;
  }
  .pricing-wrap .faq ul li .question {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .pricing-wrap .faq ul li .question p {
    font-size: 18px;
    line-height: 28px;
  }
  .pricing-wrap .faq ul li .answer {
    line-height: 32px;
    margin-top: 24px;
    margin-bottom: 32px;
    color: #747474;
  }
  .pricing-wrap .faq ul .active .question {
    color: #56c4c5;
    font-weight: bold;
  }
}

.footer-banner {
  height: 503px;
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/home_footer.svg") no-repeat center;
  background-size: cover;
  text-align: center;
  padding: 280px 0 100px 0;
  color: #221e1f;
}

.footer-banner h2 {
  font-size: 32px;
  line-height: 46px;
  font-weight: bold;
  margin-bottom: 60px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56px;
  background: #f5f5f5;
  color: #221e1f;
  line-height: 24px;
}

@media (max-width: 768px) {
  .pricing-wrap {
    margin-top: 340px;
  }
  .footer-banner {
    height: 503px;
    background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/home_footer.svg") no-repeat center;
    background-size: cover;
    text-align: center;
    padding: 280px 0 100px 0;
    color: #221e1f;
  }
  .footer-banner h2 {
    font-size: 32px;
    line-height: 46px;
    font-weight: bold;
    margin-bottom: 60px;
  }
}

@media (max-width: 768px) and (max-width: 735px) {
  .footer-banner {
    padding: 350px 0 100px 0;
    color: #221e1f;
  }
  .footer-banner h2 {
    font-size: 24px;
    line-height: 35px;
    font-weight: bold;
    margin-bottom: 24px;
  }
  .footer-banner button {
    background: #56c4c5;
    color: #fff;
    font-size: 18px;
    line-height: 26px;
    padding: 12px 32px;
    outline: none;
    border: none;
    border-radius: 27px;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 56px;
    background: #f5f5f5;
    color: #221e1f;
    line-height: 24px;
  }
}
/*# sourceMappingURL=style.css.map */